@font-face {
    font-family: 'SEGA LOGO FONT', sans-serif;
    src: url('https://fonts.cdnfonts.com/css/sega-logo-font');
}

h1 {
    font-family: 'SEGA LOGO FONT', sans-serif;
    text-align: center;
    color: red;
}